@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    width: 100%;
}

.headerSection{
    background-color: rgb(198, 195, 195) ;
    padding:80px;
    margin:0; 
    display: inline-block;
    width: 100%;
}

.headerSection .userInfo p{
    margin-left: 8%;
    font-weight: 530;
    font-size: 12pt;
    color:black;
}

.headerSection .userInfo banDate{
    margin-left: 8%;
    font-weight: 530;
    font-size: 12pt;
    color:red;
}

.headerSection .userName{
    margin-left: 8%;
    font-weight: 600;
    font-size: 25pt;
    color:black;
    line-height: 150px;
}

.headerSection .image{
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;;
    border: 2px solid #5B3E38;
    float:right;
    margin-right: 40%;
    border-radius: 50%;
    overflow: hidden;
}

.headerSection .image img{
    display: flex;
    width: 195px;
    height: 195px;
    justify-content: center;
    align-items: center;
}

.headerSection .pageInfo{
    margin-left: 8%;
    color:black;
    list-style-type: disc;
}

.headerSection .pageInfo a{
    color: black;
    text-decoration: none;
}

.headerSection .btn{
    margin-left: 8%;
    margin-top: 30px;
}

.headerSection .btn .button {
    margin: 20px 40px 20px 20px;
}

.headerSection .btn .button img {
    width: 51px;
    height: 51px;
    object-fit: cover;
}

.userProfile{
    background-color:rgba(91, 62, 56, 1);
    height: 100%;
    width: 100%;
    display: flex;
}

.userProfile p{
    position: absolute;
    font-weight: bold;
    color:rgba(106, 75, 69, 1);
    font-family: "Roboto", monospace;
    left: 100px;
    font-size: 100px;
    letter-spacing: 5px;
}

.userProfile .data{
    font-family:"Roboto", serif;
    color:black;
    font-size: 30px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    text-align: left;
    
}

