@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    width: 100%;
    background-color: rgba(119, 89, 84, 0.9);
}

.title{
    font-size: 30pt;
    font-weight: bold;
    color: rgb(197, 173, 168);
    padding: 50pt;
}

.data{
    padding: 40pt 40pt 40pt 100pt;
}

.data label{
    color: black;
    font-weight: 600;
    font-size: 20pt;
    line-height: 100px;
    text-transform: uppercase;
}

.data input{
    margin-left: 10px;
    border-radius: 10px;
    height: 30pt;
    width: 200pt;
    padding-left: 20px;
}