a {
    text-decoration: none;
}

a:link {
    color: #5B3E38;
}
  
/* visited link */
a:visited {
    color: #5B3E38;
}
  
/* mouse over link */
a:hover {
    color: #5B3E38;
}
  
/* selected link */
a:active {
    color: #5B3E38;
}

.loginMain {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45rem;
    margin: 10%;
}
/* --------------------------------------------------------- logo ---------------------------------------------------------------- */
.logo {
    margin-bottom: 5%;
}

.logo img {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    width: 180px;
}

/* ------------------------------------------------------ input box ------------------------------------------------------------- */

.credentialInput { 
    width: 70%;
    align-content: center;
}

.credentialInput input[type=text], input[type=password] {
    height: 55px;
    width: 100%;
    margin: 6px 0 17px 0;
    padding-left: 10px;
    border: none;
    transition: 0.5s;
    outline: none;
    background-color: #FAF4EE;
    color: #5b3e38b1;
}

::placeholder {
    color: #5b3e38b1;
  }

/* --------------------------------------------------------- others ---------------------------------------------------------------- */
.others {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* --------------------------------------------------------- buttons ---------------------------------------------------------------- */
.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14%;
}

.loginBtn {
    background-color: #5B3E38;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.btn a {
    margin-top: 10px;
}

.someHeight{
    height: 1px;
}